body {
    background-color: rgb(217, 196, 169);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

}
header {
    background-color: rgb(55, 36, 13);
    color: rgb(241, 234, 225)
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}